* { box-sizing:border-box; }

body {
	font-family: Helvetica;
	background: #eee;
  -webkit-font-smoothing: antialiased;
	margin:0;
}

h2 {
	letter-spacing: 3px;
  font-size: 1.2rem;
	font-weight: 400;
}

.actionBtn {
	margin-top: 30px;
}
